<div class="row">

  <article class="col-left">

    <h2>Artigos Recentes</h2>

    <!-- Aula 08) Exibe os artigos -->
    <div class="articles">

      <div class="article" *ngFor="let item of items | async">
        <img src="{{ item.img }}" alt="{{ item.title }}">
        <h4><a routerLink="/view/{{ item.artId }}">{{ item.title }}</a></h4>
        <small>{{ item.intro }}</small>
      </div>

    </div>

  </article>

  <aside class="col-right">

    <div *ngIf="auth.user | async as user; else showLogin">
      <h4>Olá {{ user.displayName }}!</h4>
      <div class="user-data">
        <img src="{{ user.photoURL }}" alt="{{ user.displayName }}">
        <small>{{ user.email }}</small>
      </div>
    </div>

    <ng-template #showLogin>
      <h3>Faça login</h3>
      <p>Logue-se para ter acesso aos artigos completos. É de graça!</p>
      <button class="center primary" routerLink="/login"><i class="fas fa-sign-in-alt fa-fw"></i> Entrar /
        Login</button>
    </ng-template>

    &nbsp;
    <h3>Sidebar</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus doloribus incidunt soluta, sequi ab maxime
      iure veritatis a possimus ut numquam nisi, cumque cupiditate eos. Iusto corporis pariatur ex unde.</p>

  </aside>

</div>
